body {
    background-color: #f0f8ff;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: black;
}

header {
    background-color: #205aeb;
    text-align: center;
    color: white;
    padding: 10px;
    border-bottom: 5px solid orange;
}

h1 {
    font-size: 40px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

nav {
    text-align: center;
    margin: 20px;
    padding: 15px;
    background-color: #e3f2fd;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #01579b;
    font-size: 18px;
    margin: 0px 15px;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
}

a:hover{
    background-color: #205aeb;
    color: white;
}

h2 {
    color: #01579b;
    border-bottom: 3px solid orange;
    padding-bottom: 10px;
    text-align: center;
    font-size: 28px;
}

.content{
    display: flex;
    margin: 20px 0px;
}

img {
    border-radius: 15px;
    margin-right: 40px;
    border: 5px solid #205aeb;
}

.text {
    flex: 1;
}

table {
    margin: 20px 0px;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #205aeb;
    background-color: #e3f2fd;
    padding: 12px;
    text-align: center;
}

footer {
    background-color: #01579b;
    color: white;
    text-align: center;
    padding: 25px;
    border-top: 5px solid orange;
    margin-top: 50px;
}

div {
    background-color: white;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
    border: 3px solid #e3f2fd;
}
